In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
%store -r

In [15]:
host=host

In [16]:
user= user

In [17]:
password= password

In [3]:
# estabecemos la conexi√≥n.
cnx = mysql.connector.connect(
    host=host,
    user=user,
    password=password
)

In [4]:
# creando cursor.
curs= cnx.cursor()

In [5]:
# creando base de datos.
curs.execute("CREATE DATABASE IF NOT EXISTS registros_alumnos")
cnx.database="registros_alumnos"

In [6]:
# creando la tabla alumnos.
curs.execute("""
    CREATE TABLE IF NOT EXISTS alumnos (
        id_alumnos INT AUTO_INCREMENT NOT NULL,
        nombre_alumno VARCHAR (255) NOT NULL,
        apellido_alumno VARCHAR (255) NOT NULL,
        correo VARCHAR (255) NOT NULL,
        PRIMARY KEY (id_alumnos)
        )
""")

In [7]:
# creando la tabla materias.
curs.execute("""
    CREATE TABLE IF NOT EXISTS materias(
        id_materia INT NOT NULL AUTO_INCREMENT,
        nombre_materia VARCHAR (255) NOT NULL,
        PRIMARY KEY (id_materia)
    )
""")

In [8]:
# creando la tabla profesores.
curs.execute("""
    CREATE TABLE IF NOT EXISTS profesores (
        id_profesor INT NOT NULL AUTO_INCREMENT,
        nombre_profesor VARCHAR (255) NOT NULL,
        apellido_profesor VARCHAR (255) NOT NULL,
        correo VARCHAR (255) NOT NULL,
        PRIMARY KEY (id_profesor)
    )
""")

In [10]:
# creando la tabla de relacion alumnos_materias.
curs.execute("""
   CREATE TABLE IF NOT EXISTS alumnos_materias (
        id INT AUTO_INCREMENT PRIMARY KEY,
        id_alumno INT,
        id_materias INT,
        FOREIGN KEY (id_alumno) REFERENCES alumnos(id_alumnos),
        FOREIGN KEY (id_materias) REFERENCES materias(id_materia)

    )
""")

In [11]:
# creando la tabla de realcion profesores_materias.
curs.execute("""
    CREATE TABLE IF NOT EXISTS profesores_materias (
        id INT AUTO_INCREMENT PRIMARY KEY,
        id_profesor INT,
        id_materias INT,
        FOREIGN KEY (id_profesor) REFERENCES profesores(id_profesor),
        FOREIGN KEY (id_materias) REFERENCES materias(id_materia)

    )
""")

# importando los dataFrame

In [9]:
df_alumnos = pd.DataFrame(df_alumnos)
df_profesores = pd.DataFrame(df_profesores)
df_materias = pd.DataFrame(df_materias)

In [10]:
# conectar a MySQL con SQLAlchemy
engine = create_engine('mysql+mysqlconnector://root:nicojr@localhost/registros_alumnos')

In [11]:
# insertar datos en las tabla alumnos desde el dataFrame alumnos.
df_alumnos.to_sql('alumnos', con=engine, if_exists='replace', index=False)

-1

In [12]:
# insertando datos en las tabla materias desde el dataFrame materias.
df_materias.to_sql('materias', con=engine, if_exists='replace', index=False)

-1

In [13]:
# insertando datos en la tabla profesores desde el dataFrame profesores.
df_profesores.to_sql('profesores', con=engine, if_exists='replace', index=False)

-1