In [1]:
import pandas as pd
import numpy as np
from fastapi import APIRouter
import mysql.connector
%store -r

In [2]:
# Conexión a la base de datos
def connect_db():
    return mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

In [3]:
connect_db()
print(connect_db())

<mysql.connector.connection.MySQLConnection object at 0x000002074ABCA0E0>

In [4]:
# Obtener alumnos por ID
def get_alumno_by_id(alumno_id):
    conn = connect_db()
    cursor = conn.cursor()
    query = "SELECT * FROM alumnos WHERE id_alumnos = %s"
    cursor.execute(query, (alumno_id,))
    alumno = cursor.fetchone()
    conn.close()
    return alumno

In [5]:
alumno_id= 1
get_alumno_by_id(alumno_id)

(1, 'Juan', 'Sosa', 'juan@example.com')

In [6]:
# Insertar información de un alumno
def update_alumno(alumno_id, correo):
    conn = connect_db()
    cursor = conn.cursor()
    query = "INSERT INTO alumnos (id_alumnos, correo) VALUES (%s, %s) ON DUPLICATE KEY UPDATE correo = %s"
    cursor.execute(query, (alumno_id, correo, correo))
    conn.commit()
    conn.close()

In [7]:
update_alumno(15,'juan_juan@gmail.com')

In [8]:
alumno_id= 15
get_alumno_by_id(alumno_id)

(15, None, None, 'juan_juan@gmail.com')

In [9]:
# Eliminar a un alumno
def delete_alumno(alumno_id):
    conn = connect_db()
    cursor = conn.cursor()
    query = "DELETE FROM alumnos WHERE id_alumnos = %s"
    cursor.execute(query, (alumno_id,))
    conn.commit()
    conn.close()

In [10]:
delete_alumno(1)

In [11]:
alumno_id= 1
get_alumno_by_id(alumno_id)

In [13]:
# Obtener materia por ID
def get_materia_by_id(materia_id):
    conn = connect_db()
    cursor = conn.cursor()
    query = "SELECT * FROM materias WHERE id_materia = %s"
    cursor.execute(query, (materia_id,))
    materia = cursor.fetchone()
    conn.close()
    return materia

In [14]:
materia_id= 1
get_materia_by_id(materia_id)

(1, 'Algebra')

In [12]:
# Dar de baja una materia
def delete_materia(materia_id):
    conn = connect_db()
    cursor = conn.cursor()
    query = "DELETE FROM materias WHERE id_materia = %s"
    cursor.execute(query, (materia_id,))
    conn.commit()
    conn.close()

In [15]:
materia_id= 1
delete_materia(materia_id)

In [16]:
materia_id= 1
get_materia_by_id(materia_id)

In [22]:
# Dar de alta o actualizar una materia
def update_materia(materia_id, materia):
    conn = connect_db()
    cursor = conn.cursor()
    query = "INSERT INTO materias (id_materia, nombre_materia) VALUES (%s, %s) ON DUPLICATE KEY UPDATE nombre_materia = %s"
    cursor.execute(query, (materia_id, materia, materia))
    conn.commit()
    conn.close()

In [23]:
id_materia= 9
materia = 'Algebra'
update_materia(id_materia, materia)

In [24]:
materia_id= 9
get_materia_by_id(materia_id)

(9, 'Algebra Lineal')

In [25]:
# Obtener todas las materias relacionadas con un alumno
def get_materias_alumno(alumno_id):
    conn = connect_db()
    cursor = conn.cursor()
    query = "SELECT materias.nombre FROM materias JOIN inscripciones ON materias.id = inscripciones.materia_id WHERE inscripciones.alumno_id = %s"
    cursor.execute(query, (alumno_id,))
    materias = cursor.fetchall()
    conn.close()
    return materias